# **python**

In [ ]:
#python is a popular programming lamguage
#python can be used on a server to create web applications



# **PYTHON**

.python is a popular programming langhuage.

.python can be used on a server to create web application.

.python can be used to handle big data and perform complex mathematics.

.python can be used for rapid prototyping,or for production-ready software developement.

.python works on different platforms(windows,mac,linux,raspberry pi,etc).

.python has a simple syntax similar to the english languages.

.python runs on an interpreter system,meaning that code **can** be executed as soon as it is written.this means that prototyping can be very quick.

.python can be treated in a procedural way,an object-oriented way or a functional way.









**PRINT SYNTAX**

we use it for display or show the output.

In [ ]:
print(42.5)

42.5

In [ ]:
print("arjun")

arjun

**NUMERIC = int (42)**

**POINT = float(45.5**)

**NAME = string(arjun)**

# **VARIABLES**

Variables are containers for storing data values

# **CREATING VARIABLES**

 Python has no command for declaring a variable.

 A variable is created the moment you first assign a value to it.

**EXAMBLE**

In [ ]:
x=5
y="John"
print(x)
print(y)

5
John

In [ ]:
x=2.5
y="fayis"
print(x)
print(y)

2.5
fayis

In [ ]:
name="shahal"
age=20
print(name)
print(age)

shahal
20

In [ ]:
_name="_arjun"
age=21
print(_name)
print(age)

_arjun
21

In [ ]:
a=2.3
b="fayis"
print(a)
print(b)

2.3
fayis

In [ ]:
a1=15
a2='apple'
print(a1)
print(a2)

15
apple

# python follows automatic memory management

**EXAMPLE**:

In [ ]:
x=12
x=15
print(x)
print(x)

15
15

In [ ]:
name="shahal"
name="fayis"
print(name)
print(name)

fayis
fayis

In [ ]:
a1=15
a1='fayis'
print(a1)

fayis

In [ ]:
XX=10
XX=12.5
print(XX)
print(XX)

12.5
12.5

In [ ]:
age=21
age=23
print(age)

23

In [ ]:
myvar="john"
my_var="john"
_my_var="john"

myVar="john"
MYVAR="john"
myvar2"john"


illegal variable names

2myvar="john"
my-var="john"

  **Python is key sencitive;**

Example :
  **'NAME' and 'name' are considered different**

# **PYTHON COMMENTS**

Pythons has commenting capability for the purpose of in-code documentation.

comments start with a #,and python will render the rest of the line as a comment:

In [ ]:
#this is a comment,
print("hello, world!")
#first line is a comment
#second one is not a comment,so itms run and print the output

hello, world!

In [ ]:
#print("fayis") #this is a comment

In [ ]:
#x=12
#y=13
#print(x)
#print(y)

comments can be used to explain python code.

comments can be used to make to make the code more readable.

comments can be used to prevent execution when testing code.

comments starts with a #,and python will ignore them:


comments can be placed at the end of a line, and python will ignore the rest of the line:

A comment does not have to be text that explains the code, it can also be used to prevent python from executing code:

# **Multiline comments**

Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line.

In [ ]:
#this is a comment
#written in
#more than just one line
print("hello, world!")

hello, world!

OR, not quite as intended,you can use a multiline string.

since python will ignore string literals that are not assigned to a variable,

you can add a multilie string(triple quotes)in your code, and place your comment inside it:

In [ ]:
"""
hai my friend
"""
print("hai my friend")

hai my friend

In [ ]:
'''
hello
'''
print ('hello')

hello

# **INDENTATION TOOL**

Indentation refers to the spaces at the beggining of a code line.

where in other programming langhyages the indentation in code is for
readability only, the indentation in python is very important.

python uses indentation tobindicate a block of code.

In [ ]:
if 5 > 2:
  print("five is greater than two")

five is greater than two

In [ ]:
if 5 > 2:
print("five is greater than two")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-3-7610f775a4a9>, line 2)

python will give you an error if you skip the indentation:

the number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.



**IMP: if condition will give output only when the condition is ture**


example:

In [ ]:
if 2<10:
 print("2 is less than ten")

2 is less than ten

In [ ]:
if 10<2:
  print("10 is less than two")

In [ ]:
if 10>2:
  print('10 is greater than two')

10 is greater than two

In [ ]:
if 10==2:
  print ("10 is equal to two")

In [ ]:
if 10<2:
  print('10 is greater than two')

# MULTI WORDS VARIABLE NAMES

variable nmes with more than one word can be difficult to read,

there are several techniques you can use to make them more readable:


#1. **CAMEL CASE**

Each word, except the first, starts with a capital letter:

In [ ]:
myVariableName= "jonh"

#2. **PASCAL CASE**

each word starts with a capital letter:

In [ ]:
MyVariableName= "john"

#3. **SNAKE CASE**

each word is separated by by an underscore character:

In [ ]:
my_variable_name= "john"

**MANY VALUES TO MULTIPLE VARIABLES**

Python allows you to assign values to multiple variables in one line:

In [ ]:
x,y,z = "orange","banana","cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

**ONE VALUE TO MULTIPLE VARIABLES**

And you can assign the same value to multiple variables in one line:


**EXAMPLE:**

In [ ]:
x = y = z ="orange"
print(x)
print(y)
print(z)

orange
orange
orange



# UNPACK A COLLECTION

 If you have a collection of valuues in a list, tuple etc. python allows you to extract the values into variables.This is called unpacking.

 EXAMPLE

 Unpack a list:

In [ ]:
fruits = ["apple","banana","cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry



# GET THE TYPE

You can get the data type of a value a variable with the type() function.

In [ ]:
a = 5
print(type(a))

<class 'int'>

In [ ]:
a = 5.8
print(type(a))

<class 'float'>

In [ ]:
a= "fayis"
print(type(a))

<class 'str'>

In [ ]:
x=5
y='john'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
name='fayis'
age=21
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [ ]:
y=12
x=1.2
print(type(y))
print(type(x))

<class 'int'>
<class 'float'>

In [ ]:
name="amal"
type(name)

str

In [ ]:
age=1.5
type(age)

float


**In the print() function, you output multiple variables, separated by a comma:**

EXAMPLE:

In [ ]:
x= "python"
y=  "is"
z=  "awesome"
print(x, y , z)

python is awesome

In [ ]:
x= "fayis"
y= " was"
z= " beautiful"
print(x +y +z)

fayis was beautiful

In [ ]:
x='python'
y='is'
z='awesome'
print(z, y, x)

awesome is python

# CASTING

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x= str(3)
print(x)

3

In [ ]:
print(type(x))

<class 'str'>

In [ ]:
x= str(5)
y=int(6)
z= float(4)
print(x)
print(y)
print(z)

5
6
4.0

In [ ]:
print(type(x))
print(type(z))
print(type(y))

<class 'str'>
<class 'float'>
<class 'int'>

In [ ]:
x

'5'

In [ ]:
y

6

In [ ]:
z

4.0

In [ ]:
y=float(6)

In [ ]:
y

6.0

In [ ]:
name=str(10.0)
name=int(10.0)
name

10

In [ ]:
type(name)

int

In [ ]:
age=float(55)
age=str(55)
age

'55'